* {
  box-sizing: border-box;
}

/* biar background full screen */
html {
  min-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: black;
  background-image: url(assets/img/background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 140% 120%;
}

.game-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Galindo", cursive;
  padding: 20px 0;
  font-size: 20px;
  color: white;
}

.score {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.452);
}

.comp-score {
  border: 5px solid orangered;
}

.user-score {
  border: 5px solid #17225eff;
}

.info {
  text-align: center;
  font-family: "Galindo", cursive;
  color: darkblue;
  font-size: 40px;
  margin-bottom: -70px;
}

.fight-area {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 50vh;
  width: 100vw;
  margin-top: 7vh;
}

.comp-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.comp-area img {
  padding-left: 15vw;
  width: 70%;
  height: auto;
}

.user-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
}

.user-area img {
  padding-right: 15vw;
  width: 70%;
  height: auto;
}

.user-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1vw 30vw 1vw 30vw;
  margin-top: 5vh;
  transition: transform 0.2s;
}

.user-input img {
  height: auto;
  width: 20%;
}

.user-input img:hover {
  transform: scale(1.2);
}

/* ipad lanscape */

@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    margin: 0;
    background-image: url(assets/img/background.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 150% 130%;
    overflow: hidden;
  }

  .game-score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Galindo", cursive;
    padding: 20px 0;
    font-size: 30px;
    color: white;
    padding-top: 5vh;
    margin-bottom: -5vh;
  }

  .score {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.452);
  }

  .comp-score {
    border: 5px solid orangered;
  }

  .user-score {
    border: 5px solid #17225eff;
  }

  .info {
    text-align: center;
    font-family: "Galindo", cursive;
    color: darkblue;
    font-size: 40px;
    margin-bottom: -50px;
  }

  .fight-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
  }

  .comp-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
  }

  .comp-area img {
    height: 50%;
    width: auto;
  }

  .user-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
  }

  .user-area img {
    height: 50%;
    width: auto;
  }

  .user-input img {
    height: auto;
    width: 30%;
  }
}

@media (max-width: 768px) {
  body {
    margin: 0;
    background-image: url(assets/img/background.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 160% 130%;
    overflow: hidden;
  }

  .game-score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Galindo", cursive;
    padding: 20px 0;
    font-size: 30px;
    color: white;
    padding-top: 5vh;
    margin-bottom: -5vh;
  }

  .score {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.452);
  }

  .comp-score {
    border: 5px solid orangered;
  }

  .user-score {
    border: 5px solid #17225eff;
  }

  .info {
    text-align: center;
    font-family: "Galindo", cursive;
    color: darkblue;
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: -50px;
  }

  .fight-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
  }

  .comp-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
  }

  .comp-area img {
    height: 45%;
    width: auto;
  }

  .user-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
  }

  .user-area img {
    height: 45%;
    width: auto;
  }

  .user-input {
    margin-top: -10px;
  }

  .user-input img {
    height: 140px;
    width: auto;
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  body {
    margin: 0;
    background-image: url(assets/img/background.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 150% 130%;
    overflow: hidden;
  }

  .game-score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Galindo", cursive;
    padding: 20px 0;
    font-size: 15px;
    color: white;
    padding-top: 5vh;
    margin-bottom: -5vh;
  }

  .score {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.452);
  }

  .comp-score {
    border: 5px solid orangered;
  }

  .user-score {
    border: 5px solid #17225eff;
  }

  .info {
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: darkblue;
    font-size: 40px;
    margin-bottom: -50px;
  }

  .fight-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
  }

  .comp-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
  }

  .comp-area img {
    padding-right: 5px;
    height: 40%;
    width: auto;
  }

  .user-area {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50vh;
    width: 100vw;
  }

  .user-area img {
    padding-left: 5px;
    height: 40%;
    width: auto;
  }

  .user-input {
    height: 200px;
    width: 100vw;
    padding-bottom: 120px;
  }

  .user-input img {
    z-index: 999;
    height: 80px;
    width: auto;
  }
}
